*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
body
{
    background-color: white;
}
.couv
{
    width: 100%;
    height: 100%;
   
}
.logo
{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: space-between;
    padding: 1%;

}
.logoE
{
    max-width: 200px;
    cursor: pointer;
    
}
.logoC
{
    max-width: 120px;
    cursor: pointer;
    
}
.content
{
    text-align: center;
    margin: auto;
    display: block;
   
}
.imag
{
    text-align: center;
    display: inline-flex;
    margin-bottom: -4%;
}
.logoS
{
    max-width: 500px;
    margin: auto;
 
}
.logoH
{
    max-width: 700px;
    margin: auto;
   
}

.champs
{
   text-align: center; 
   display: inline-flex;
   justify-content: space-between;
}
.b1
{
   padding-left: -30%;
}
.b2
{
    padding-left: 7%;
  
}
button
{
    width: 275px;
    padding: 5%;
    height: auto;
    border-radius: 16px;
    margin: 1px 4%;
    font-size: 110%;
    border: 2px solid rgb(7, 91, 146);
    background: transparent;
    color: rgb(7, 91, 146);
    cursor: pointer;
    position: relative;
    overflow:hidden;
}
button:hover
{
    border: none;
    background-color: rgb(199, 101, 9);
    color: aliceblue;
}


@media screen and (max-width:1400px)
{
    .imag
    {
        display: block;
    }
    .logoS
    {
        max-width: 500px;
        margin-top: -4%;
    }
    .content
    {
        margin-top: 8%;
    }
    .logoH
    {
        max-width: 600px;
        margin-top: -280px;
    }
    .champs
    {
        margin-top: 3%;
    }
    .b1
    {
        padding-left: 0%;
    }
    .b2
    {
        padding-right: 0%;
    }
    button
    {
        width: 220px;
    }

    
}

@media screen and (max-width:600px)
{
    .imag
    {
        display: block;
        text-align: center;
        
    }
    .logoE
    {
        max-width: 120px;
    }
    .logoC
    {
        max-width: 90px;
    }
    .logoS
    {
        max-width: 350px;
        margin-top: 4%;
    }
    .logoH
    {
        max-width: 350px;
        margin-top: -135px;
        margin-bottom: -4%;
       
    }
    .champs
    {
        text-align: center;
        margin-top: -45px;
        display:block;

    }
    .b1
    {
        padding-left: 0;
        margin-top: -20px;
    }
    .b2
    {
        padding-right:0;
        padding-left: 0;
        margin-top: 3%;

    }
    button
    {
        width: 200px;
        padding: 2%;
    }

    
}
   